<div class="container">
  <h3>Trending today</h3>
  <br/>
  <div class="row">
    <% @polls.each do |poll| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <%= image_tag poll.image.url %>
          <div class="caption">
            <h4><%=poll.title%></h4>
            <p><%=poll.blurb%></p>
            <%= link_to "Poll Results", poll_path(poll), class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>