<div class="container">
  <h2><%= @poll.title %></h2>
  <hr/>
  <h4>The people has spoken:</h4>
  <%= pie_chart @plot_data, height: "500px", colors: ["#34457c", "#838e91","#f4b400","#838e91"] %>
</div>